@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cut-out-border {
  position: relative;
  width: 200px; /* Adjust width */
  height: 200px; /* Adjust height */
  background-color: white; /* Background color for the QR box */
  overflow: hidden; /* Prevent overflow */
}

.cut-out-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px dashed rgba(0, 0, 0, 0.7); /* Dashed border */
  box-shadow: 
    -8px -8px 0 white, /* Top left cut-out */
    -8px 8px 0 white,  /* Bottom left cut-out */
    8px -8px 0 white,  /* Top right cut-out */
    8px 8px 0 white;   /* Bottom right cut-out */
}


